# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
.venv/
.env

# Data (halte Platzhalter-Dateien erlaubt)
/data/output/*
!/data/output/.gitkeep
/data/input/*
!/data/input/.gitkeep
/data/samples/*
!/data/samples/.gitkeep

# Editors
.vscode/
.idea/
